@font-face {
    font-family: 'Jost';
    src: url('/Header/fonts/Jost-Regular.tts') format('tts');
    font-weight: normal;
    font-style: normal;  
}
@font-face {
    font-family: 'Montserrat';
    src: url('/Header/font/Montserrat-Regular.ttf') format('tts');
    font-weight: normal;
    font-style: normal; 
}
.container a{
    color: #d0d0d0;
    text-decoration: none;
    transition: color 0.3s;
  }
  .container a:hover {
    color: #bb8c5f; /* цвет текста при наведении */
  }
.footer {
    background-color: #050402;
    height: 400px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.container{
    max-width: 1216px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.allleft{
    width: 238px;
    height: 141px;
    border: 1px 0px 0px 0px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    width: 186px;
    height: 67px;      
}

.politictxt{
    width: 238px;
    height: 21px;
    color: #faf6f2;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    margin: 0;
}
.about {
    width: 306px;
    height: 141px;
    display: flex;
    justify-content: space-between;   
}
.aboutleft{
    width: 126px;
    height: 141px;
    display: flex;
    flex-direction: column;    
}
.aboutright{
    width: 100px;
    height: 84px;
    display: flex;
    flex-direction: column;
}
.iteamup{
    color: #E9ECF1;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.34;
}
.iteamcenter{
    color: #E9ECF1;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.34;
    margin-top: 30px; 
}
.iteamdown{
    color: #E9ECF1;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.34;
    margin-top: 30px; 
}
.line{
    height: 400px;
    width: 6px; 
}
.allright{
    width: 350px;
    height: 140px;
    display: flex;
    flex-direction: column;
    
}
.rightup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: pre;
    height: 40px;
    
}
.phone{
    width: 181px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    
}
.phoneicon{
    width: 28px;
    height: 28px;
    align-self: center;
}
.phonetxt{
    align-self: center;
    width: 143px;
    height: 30px;
    font-family: Jost;
    font-size: 20px;
    line-height: 1.5;
    color: #faf6f2;
}
.icon{
    width: 144px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.Telegram{
    width: 40px;
    height: 40px;

}
.Viber{
    width: 40px;
    height: 40px;
}
.whatsapp{
    width: 40px;
    height: 40px;
}
.time{
    width: 293px;
    height: 26px;
    font-family: Jost;
    font-size: 17px;
    line-height: 1.5;
    color: #636b78;
    white-space: pre;
}
.rightdown{
    width: 202px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 32px;
    
}
.mailicon{
    width: 28px;
    height: 28px;
}
.mailtxt{
    width: 164px;
    height: 30px;
    font-family: Jost;
    font-size: 20px;
    line-height: 1.5;
    color: #faf6f2;
}
@media (max-width:899px){
    .line{display: none;}
    .container{justify-content: space-around;}
}  
@media (max-width:768px){
    .footer{
        justify-content: start;
        align-items: start;
        margin: 0 auto;
        padding-top: 70px;
        height: 561px; 
        flex-direction: column;
    }
    .logo{
        margin-left: 20px;
        max-width: 266px;
        max-height: 95.82px;
    }
    .politictxt{margin-left: 20px;}
    .linephone{
        margin-top: 70px;
        width: 100%;
        height: 1px;
        background-color: #bb8c5f;
    }
    .container{
        justify-content: start;
    }
    .allright{
        margin-left: 20px;
        margin-top: 70px;
    }
    .about{margin-left: 120px;}
    

    .line{display: none;}
}
@media (max-width: 425px){
    .footer{height: 701px; padding-top: 56px; margin: 0 auto;
    
    justify-content: start;}
    .allleft p{display: none;}
    .allleft{width: 266px; height: 95px; margin-bottom: 40px;}
    .logo{width: 266px; height: 95px; margin-left: 20px;}
    .about{
    height: 129px;
    margin-bottom: 60px;
    margin-left:20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 22.7px;
    text-align: left;    
    }
    .linephone{
        width: 100%;
        height: 1px;
        background-color: #bb8c5f;
        margin: 0;
    }
    .allright{
        margin-left: 20px;
    }
    .icon{margin-top: 20px;}
    .time{
        margin-top: 20px;
    }
    .rightup{
    width: 181px;
    height: 90px;
    flex-wrap: wrap;
    }
    .rightdown{
        margin-top: 30px;
    }
}
